<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1084756443677-588v4q21ejfm14pok9g65il86to8ol3p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1084756443677-588v4q21ejfm14pok9g65il86to8ol3p</string>
	<key>API_KEY</key>
	<string>AIzaSyAm1j2rm37BPXYa0LYyhtkNy7dg4RlwnBE</string>
	<key>GCM_SENDER_ID</key>
	<string>1084756443677</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Branding.Polkie</string>
	<key>PROJECT_ID</key>
	<string>polkie-brand</string>
	<key>STORAGE_BUCKET</key>
	<string>polkie-brand.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1084756443677:ios:6ca4dd55256309604bbcf4</string>
	<key>DATABASE_URL</key>
	<string>https://polkie-brand.firebaseio.com</string>
</dict>
</plist>